<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084592092620-64el4n29doi3tred4eold1ndd8b0d9kn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084592092620-64el4n29doi3tred4eold1ndd8b0d9kn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1084592092620-0dsij7c0v53cepo5t6bil5sca877h008.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5atylFgHLiD4eADRsOItwn5vu8VfX1Iw</string>
	<key>GCM_SENDER_ID</key>
	<string>1084592092620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFireTest</string>
	<key>PROJECT_ID</key>
	<string>test-8502d</string>
	<key>STORAGE_BUCKET</key>
	<string>test-8502d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084592092620:ios:bf6940f9cad56750685969</string>
	<key>DATABASE_URL</key>
	<string>https://test-8502d.firebaseio.com</string>
</dict>
</plist>